<div class="flexWrapper">

    <div class="flexContainer">
        <a href="/books" class="sectionLink">Books</a>
        <span class="vSeparator">|</span>
        <a href="/forum" class="sectionLink">Forum</a>
    </div>

    <div class="flexContainer">
        <a href="/contact" class="sectionLink miscLink">Contact</a>
    </div>

</div>