<div class="flexWrapper">

    <div class="flexContainer">
        <a href="/books" class="sectionLink">Books</a>
    </div>
    <div class="flexContainer">
        <hr style="border: 1px solid white"/>
    </div>
    <div class="flexContainer">
        <a href="/contact" class="sectionLink">Contact</a>
    </div>

</div>

<script>
    setNavActive("home");
</script>