<h1>Editing Book <%= @book.book_name %></h1>

<%= render partial: "book_form", object: @book, as: 'book' %>

<div class="text-center">
    <button class="btn btn-primary col-sm-8" onclick="updateBook(<%= @book.id %>)">
        Submit
    </button>
</div>