<header class="modelHeading">
    <span class="infoText">Title:</span>&nbsp;
    <%= @book.book_name %>
</header>
<hr />
<section>
    <span class="infoText">Synopsis:</span>
    <article class="modelDetails">
        <%= @book.synopsis %>
    </article>
</section>
<hr />
<footer class="modelFooter">
    <span class="infoText">Written by:</span>&nbsp;
    <%= @book.author_name %>
</footer>