// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_globalVars";

$dtlTxtColour: #999999;
$dtlTxtSize: 12pt;
$headTxtSize: 18pt;
$subttlTxtSize: 14pt;
$mainTxtSize: 16pt;

button#btnNewBook {
    position: absolute;
    left: 0;
    right: 0;
    position: relative;
    bottom: 50px;
    border: 2px solid $mainBg;
    border-radius: 8px;
}

div.modal div.modal-header {
    background-color: #f2f2f2;
}

div.modal div.modal-body {
    span.infoText {
        color: $dtlTxtColour;
        font-size: $dtlTxtSize;
    }

    header.modelHeading {
        font-size: $headTxtSize;
    }
    section article.modelDetails {
        font-size: $mainTxtSize;
        max-height: 300px;
        overflow: auto;
    }
    footer.modelFooter {
        font-size: $subttlTxtSize;
    }
}