// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_globalVars";

button#btnNewBook {
    position: absolute;
    left: 0;
    right: 0;
    position: relative;
    bottom: 50px;
    border: 2px solid $mainBg;
    border-radius: 8px;
}
