// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */
@import "_globalVars";

/* Rules */
.flexWrapper {
    position: relative;
}

.flexContainer {

    background-color: rgba($mainBg, $mainTsp);

    .sectionLink {
        color: $linkColour;
        font-size: $titleFont;
        transition: text-decoration 0.1s;
    }
    .sectionLink:hover {
        text-decoration: underline;
    }

    .miscLink {
        font-size: $subtitleFont;
    }

    .vSeparator {
        color: $linkColour;
        font-size: $titleFont;
    }
}

body {
    background: image-url("index_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}